In [43]:
class Course:
    def __init__(self, id, name, no_of_hours, no_of_valid_rooms, valid_rooms, max_no_hours_per_day, max_consecutive_hours):
        self.id = id
        self.name = name
        self.no_of_hours = no_of_hours
        self.no_of_valid_rooms= no_of_valid_rooms
        self.valid_rooms = valid_rooms
        self.max_no_hours_per_day = max_no_hours_per_day
        self.max_consecutive_hours = max_consecutive_hours

class Student_Group:
    def __init__(self, id, name, courses):
        self.id = id
        self.name = name
        self.courses = courses

class Lecturer:
    def __init__(self, id, name, department, max_no_hours_per_day, max_no_hours_per_week, max_consecutive_hours, rank, availability, courses):
        self.id = id
        self.name = name
        self.department = department
        self.max_no_hours_per_day = max_no_hours_per_day
        self.max_no_hours_per_week = max_no_hours_per_week
        self.max_consecutive_hours = max_consecutive_hours
        self.rank = rank
        self.availability = availability
        self.courses = courses
        
class Room:
    def __init__(self, id, name):
        self.id = id
        self.name = name
class Day:
    def __init__(self, id, name):
        self.id = id
        self.name = name
class Hour:
    def __init__(self, id, name):
        self.id = id
        self.name = name

In [44]:
course_list = []
lecturer_list = []
student_group_list = []
rooms_list = []
days_list = []
hours_list = []
no_of_days = -1
no_of_hours = -1

with open("input.txt", "r") as f:
    lines = f.readlines()
    i = 0
    while(i<len(lines)):
        lines[i] = lines[i][:-1]
        print("i=",i)
        if lines[i] == "Days":
            i+=1
            no_of_days = int(lines[i][:-1])
            i+=1
            id = 0
            for j in range(i, i+no_of_days):
                name = lines[j][:-1]
                days_list.append(Day(id, name))
                id+=1
            i+=no_of_days
        elif lines[i] =="Hours":
            i+=1
            no_of_hours = int(lines[i][:-1])
            i+=1
            id = 0
            for j in range(i, i+no_of_hours):
                name = lines[j][:-1]
                hours_list.append(Hour(id, name))
                id+=1
            i+=no_of_hours
        elif lines[i] == "Courses":
            i+=1
            number_of_courses = int(lines[i][:-1])
            i+=1
            count = 0
            while(count<number_of_courses):
                course_id, course_name = lines[i][:-1].split(" ", 1)
                i+=1
                max_no_hours_per_day = lines[i][:-1]
                i+=1
                no_hours_per_week = lines[i][:-1]
                i+=1
                max_consecutive_hours = lines[i][:-1]
                i+=1
                no_of_valid_rooms = int(lines[i][:-1])
                i+=1
                valid_rooms = []
                for j in range(i, i+no_of_valid_rooms):
                    valid_rooms.append(lines[j][:-1])
                i+=no_of_valid_rooms
                course_list.append(Course(course_id, course_name, no_hours_per_week, no_of_valid_rooms, valid_rooms, max_no_hours_per_day, max_consecutive_hours))
                count+=1
        elif lines[i] == "Rooms":
            i+=1
            number_of_rooms = int(lines[i][:-1])
            i+=1
            id = 0
            for j in range(i, i+number_of_rooms):
                name = lines[j][:-1]
                rooms_list.append(Room(id, name))
                id+=1
            i+=number_of_rooms
        elif lines[i] == "Student Groups":
            i+=1
            number_of_student_groups = int(lines[i][:-1])
            i+=1
            id = 0
            while(id<number_of_student_groups):
                name = lines[i][:-1]
                i+=1
                number_of_courses = int(lines[i][:-1])
                i+=1
                course_ids = []
                while(number_of_courses>0):
                    print(lines[i][:-1].split())
                    course = lines[i][:-1]
                    course_ids.append(course)
                    i+=1
                    number_of_courses-=1
                student_group_list.append(Student_Group(id, name, course_ids))
                id+=1
            
        elif lines[i] == "Lecturers":
            i+=1
            number_of_lecturers = int(lines[i][:-1])
            i+=1
            id = 0
            while(id<number_of_lecturers):
                name = lines[i][:-1]
                i+=1
                department = lines[i][:-1]
                i+=1
                max_no_hours_per_day = int(lines[i][:-1])
                i+=1
                max_no_hours_per_week = int(lines[i][:-1])
                i+=1
                max_consecutive_hours = int(lines[i][:-1])
                i+=1
                rank = lines[i][:-1]
                i+=1
                availability = [int(x) for x in lines[i][:-1].split()]
                i+=1
                no_of_courses = int(lines[i][:-1])
                i+=1
                course_ids = []
                while(no_of_courses>0):
                    print(lines[i][:-1])
                    course = lines[i][:-1]
                    course_ids.append(course)
                    i+=1
                    no_of_courses-=1
                lecturer_list.append(Lecturer(id, name, department, max_no_hours_per_day, max_no_hours_per_week, max_consecutive_hours, rank, availability, course_ids))
                id+=1
        else:
            i+=1

i= 0
i= 7
i= 8
i= 16
i= 17
i= 22
i= 23
i= 121
i= 122
['CSC301']
['CSC302']
['CSC303']
['CSC304']
['CSC305']
['CSC501']
['CSC502']
['CSC503']
['CSC504']
['CSC505']
['CSDLO5013']
['CSL701']
['CSL702']
['CSL703']
['CSDL70X']
['ILO70XX']
i= 146
i= 147
CSC301
CSC302
CSC303
CSC502
CSC304
CSC305
CSC501
CSC505
CSC503
CSC504
CSL702
CSL701
CSL703
CSDLO5013
CSDL70X
ILO70XX

In [45]:
lecturer_list[10].courses

['CSDL70X', 'ILO70XX']

In [46]:
columns = {}
hours_for_columns = {}
count = 0
for sg in student_group_list:
    for course_sg in sg.courses:
        for lecturer in lecturer_list:
            for course_l in lecturer.courses:
                if course_sg == course_l:
                    print(course_sg)
                    columns[count] = {"lecturer":lecturer.id, "student_group":sg.id, "course": course_l}
                    for course in course_list:
                        if course.id == course_l:
                            hours_for_columns[count] = course.no_of_hours
                    count+=1

CSC301
CSC302
CSC303
CSC304
CSC305
CSC501
CSC502
CSC503
CSC504
CSC505
CSDLO5013
CSL701
CSL702
CSL703
CSDL70X
ILO70XX

In [47]:
columns

{0: {'lecturer': 0, 'student_group': 0, 'course': 'CSC301'},
 1: {'lecturer': 1, 'student_group': 0, 'course': 'CSC302'},
 2: {'lecturer': 2, 'student_group': 0, 'course': 'CSC303'},
 3: {'lecturer': 3, 'student_group': 0, 'course': 'CSC304'},
 4: {'lecturer': 4, 'student_group': 0, 'course': 'CSC305'},
 5: {'lecturer': 5, 'student_group': 1, 'course': 'CSC501'},
 6: {'lecturer': 2, 'student_group': 1, 'course': 'CSC502'},
 7: {'lecturer': 6, 'student_group': 1, 'course': 'CSC503'},
 8: {'lecturer': 6, 'student_group': 1, 'course': 'CSC504'},
 9: {'lecturer': 5, 'student_group': 1, 'course': 'CSC505'},
 10: {'lecturer': 9, 'student_group': 1, 'course': 'CSDLO5013'},
 11: {'lecturer': 8, 'student_group': 2, 'course': 'CSL701'},
 12: {'lecturer': 7, 'student_group': 2, 'course': 'CSL702'},
 13: {'lecturer': 9, 'student_group': 2, 'course': 'CSL703'},
 14: {'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'},
 15: {'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}}

In [48]:
hours_for_columns

{0: '5',
 1: '5',
 2: '5',
 3: '5',
 4: '5',
 5: '5',
 6: '5',
 7: '5',
 8: '5',
 9: '5',
 10: '5',
 11: '5',
 12: '5',
 13: '5',
 14: '5',
 15: '5'}

In [49]:
column_numbers = [x for x in range(0, 16)]

In [50]:
column_numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [51]:
import random

In [52]:
random.shuffle(column_numbers)

In [53]:
column_numbers

[11, 7, 2, 1, 12, 9, 15, 8, 0, 5, 13, 14, 4, 6, 10, 3]

In [57]:
rows = {}
count = 0
for room in rooms_list:
    for day in days_list:
        for hour in hours_list:
            rows[count] = {"day": day.id, "hour": hour.id, "room": room.id}
            count+=1

In [58]:
rows

{0: {'day': 0, 'hour': 0, 'room': 0},
 1: {'day': 0, 'hour': 1, 'room': 0},
 2: {'day': 0, 'hour': 2, 'room': 0},
 3: {'day': 0, 'hour': 3, 'room': 0},
 4: {'day': 0, 'hour': 4, 'room': 0},
 5: {'day': 0, 'hour': 5, 'room': 0},
 6: {'day': 1, 'hour': 0, 'room': 0},
 7: {'day': 1, 'hour': 1, 'room': 0},
 8: {'day': 1, 'hour': 2, 'room': 0},
 9: {'day': 1, 'hour': 3, 'room': 0},
 10: {'day': 1, 'hour': 4, 'room': 0},
 11: {'day': 1, 'hour': 5, 'room': 0},
 12: {'day': 2, 'hour': 0, 'room': 0},
 13: {'day': 2, 'hour': 1, 'room': 0},
 14: {'day': 2, 'hour': 2, 'room': 0},
 15: {'day': 2, 'hour': 3, 'room': 0},
 16: {'day': 2, 'hour': 4, 'room': 0},
 17: {'day': 2, 'hour': 5, 'room': 0},
 18: {'day': 3, 'hour': 0, 'room': 0},
 19: {'day': 3, 'hour': 1, 'room': 0},
 20: {'day': 3, 'hour': 2, 'room': 0},
 21: {'day': 3, 'hour': 3, 'room': 0},
 22: {'day': 3, 'hour': 4, 'room': 0},
 23: {'day': 3, 'hour': 5, 'room': 0},
 24: {'day': 4, 'hour': 0, 'room': 0},
 25: {'day': 4, 'hour': 1, 'room': 0},
 26: {'day': 4, 'hour': 2, 'room': 0},
 27: {'day': 4, 'hour': 3, 'room': 0},
 28: {'day': 4, 'hour': 4, 'room': 0},
 29: {'day': 4, 'hour': 5, 'room': 0},
 30: {'day': 0, 'hour': 0, 'room': 1},
 31: {'day': 0, 'hour': 1, 'room': 1},
 32: {'day': 0, 'hour': 2, 'room': 1},
 33: {'day': 0, 'hour': 3, 'room': 1},
 34: {'day': 0, 'hour': 4, 'room': 1},
 35: {'day': 0, 'hour': 5, 'room': 1},
 36: {'day': 1, 'hour': 0, 'room': 1},
 37: {'day': 1, 'hour': 1, 'room': 1},
 38: {'day': 1, 'hour': 2, 'room': 1},
 39: {'day': 1, 'hour': 3, 'room': 1},
 40: {'day': 1, 'hour': 4, 'room': 1},
 41: {'day': 1, 'hour': 5, 'room': 1},
 42: {'day': 2, 'hour': 0, 'room': 1},
 43: {'day': 2, 'hour': 1, 'room': 1},
 44: {'day': 2, 'hour': 2, 'room': 1},
 45: {'day': 2, 'hour': 3, 'room': 1},
 46: {'day': 2, 'hour': 4, 'room': 1},
 47: {'day': 2, 'hour': 5, 'room': 1},
 48: {'day': 3, 'hour': 0, 'room': 1},
 49: {'day': 3, 'hour': 1, 'room': 1},
 50: {'day': 3, 'hour': 2, 'room': 1},
 51: {'day': 3, 'hour': 3, 'room': 1},
 52: {'day': 3, 'hour': 4, 'room': 1},
 53: {'day': 3, 'hour': 5, 'room': 1},
 54: {'day': 4, 'hour': 0, 'room': 1},
 55: {'day': 4, 'hour': 1, 'room': 1},
 56: {'day': 4, 'hour': 2, 'room': 1},
 57: {'day': 4, 'hour': 3, 'room': 1},
 58: {'day': 4, 'hour': 4, 'room': 1},
 59: {'day': 4, 'hour': 5, 'room': 1},
 60: {'day': 0, 'hour': 0, 'room': 2},
 61: {'day': 0, 'hour': 1, 'room': 2},
 62: {'day': 0, 'hour': 2, 'room': 2},
 63: {'day': 0, 'hour': 3, 'room': 2},
 64: {'day': 0, 'hour': 4, 'room': 2},
 65: {'day': 0, 'hour': 5, 'room': 2},
 66: {'day': 1, 'hour': 0, 'room': 2},
 67: {'day': 1, 'hour': 1, 'room': 2},
 68: {'day': 1, 'hour': 2, 'room': 2},
 69: {'day': 1, 'hour': 3, 'room': 2},
 70: {'day': 1, 'hour': 4, 'room': 2},
 71: {'day': 1, 'hour': 5, 'room': 2},
 72: {'day': 2, 'hour': 0, 'room': 2},
 73: {'day': 2, 'hour': 1, 'room': 2},
 74: {'day': 2, 'hour': 2, 'room': 2},
 75: {'day': 2, 'hour': 3, 'room': 2},
 76: {'day': 2, 'hour': 4, 'room': 2},
 77: {'day': 2, 'hour': 5, 'room': 2},
 78: {'day': 3, 'hour': 0, 'room': 2},
 79: {'day': 3, 'hour': 1, 'room': 2},
 80: {'day': 3, 'hour': 2, 'room': 2},
 81: {'day': 3, 'hour': 3, 'room': 2},
 82: {'day': 3, 'hour': 4, 'room': 2},
 83: {'day': 3, 'hour': 5, 'room': 2},
 84: {'day': 4, 'hour': 0, 'room': 2},
 85: {'day': 4, 'hour': 1, 'room': 2},
 86: {'day': 4, 'hour': 2, 'room': 2},
 87: {'day': 4, 'hour': 3, 'room': 2},
 88: {'day': 4, 'hour': 4, 'room': 2},
 89: {'day': 4, 'hour': 5, 'room': 2}}

In [59]:
column_numbers

[11, 7, 2, 1, 12, 9, 15, 8, 0, 5, 13, 14, 4, 6, 10, 3]

In [60]:
for column_number in column_numbers:
    print(columns[column_number])

{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'}
{'lecturer': 6, 'student_group': 1, 'course': 'CSC503'}
{'lecturer': 2, 'student_group': 0, 'course': 'CSC303'}
{'lecturer': 1, 'student_group': 0, 'course': 'CSC302'}
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'}
{'lecturer': 5, 'student_group': 1, 'course': 'CSC505'}
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}
{'lecturer': 6, 'student_group': 1, 'course': 'CSC504'}
{'lecturer': 0, 'student_group': 0, 'course': 'CSC301'}
{'lecturer': 5, 'student_group': 1, 'course': 'CSC501'}
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'}
{'lecturer': 4, 'student_group': 0, 'course': 'CSC305'}
{'lecturer': 2, 'student_group': 1, 'course': 'CSC502'}
{'lecturer': 9, 'student_group': 1, 'course': 'CSDLO5013'}
{'lecturer': 3, 'student_group': 0, 'course': 'CSC304'}

In [24]:
import numpy as np

In [25]:
target_matrix = np.zeros((len(rows), len(columns)))

In [26]:
target_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [27]:
columns[5]

{'lecturer': 5, 'student_group': 1, 'course': 'CSC501'}

In [28]:
target_matrix[0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [47]:
def fillTargetMatrix(column_numbers, columns, hours_for_columns, rows):
    target_matrix = np.zeros((len(rows), len(columns)))
    for column_number in column_numbers:
        course_name = columns[column_number]['course']
        lecturer = columns[column_number]['lecturer']
        student_group = columns[column_number]['student_group']
        th = hours_for_columns[column_number]
        print(course_name, lecturer, student_group, th)
        valid_rows = []
        for i in range(len(rows)):
            if rows[i]["room"] == student_group:
                valid_rows.append(i)
        row_count = 0
#         random.shuffle(valid_rows)
        print(valid_rows)
        while(th>0 and row_count<len(valid_rows)):
            row_number = valid_rows[row_count]
            if target_matrix[row_number][column_number] == 0:
                day = rows[row_number]["day"]
                hour = rows[row_number]["hour"]
                lecturer = columns[column_number]["lecturer"]
        #         print(day, hour, lecturer)
                for j in range(len(columns)):
                    target_matrix[row_number][j] = -1
                for i in range(len(rows)):
                    for j in range(len(columns)):
                        if rows[i]["day"] == day and rows[i]["hour"]==hour and columns[j]["lecturer"] == lecturer:
        #                     print(i, j)
                            target_matrix[i][j] = -1
                target_matrix[row_number][column_number] = 1
                th-=1   
            row_count+=1
        print(th)
    return target_matrix

In [48]:
target_matrix = fillTargetMatrix(column_numbers, columns, hours_for_columns, rows)

CSL702 7 2 5
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
0
CSC504 6 1 5
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
0
CSDL70X 10 2 5
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
0
CSC501 5 1 5
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
0
CSC301 0 0 5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
0
CSC505 5 1 5
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
0
CSC503 6 1 5
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
0
CSC305 4 0 5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
0
CSC502 2 1 5
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
0
CSL703 9 2 5
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
0
ILO70XX 10 2 5
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
0
CSDLO5013 9 1 5
[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59]
0
CSC304 3 0 5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
0
CSC303 2 0 5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
0
CSL701 8 2 5
[60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]
0
CSC302 1 0 5
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
0

In [31]:
column_numbers

[12, 8, 14, 5, 0, 9, 7, 4, 6, 13, 15, 10, 3, 2, 11, 1]

In [32]:
target_matrix[81]

array([-1., -1., -1., -1., -1., -1., -1., -1., -1., -1., -1.,  1., -1.,
       -1., -1., -1.])

In [33]:
np.sum(target_matrix, axis=0)

array([-70., -70., -73., -72., -71., -73., -73., -72., -72., -73., -72.,
       -71., -71., -72., -71., -71.])

In [34]:
for j in range(len(columns)):
    sum = 0
    for i in range(len(rows)):
        if target_matrix[i][j] > 0:
            sum += target_matrix[i][j]
    print(sum)

5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0
5.0

In [35]:
import pandas as pd

In [36]:
student_group = 2
count = 1
weekdays = ["Mon", "Tue", "Wed", "Thur", "Fri"]
lectures = []
for i in range(len(rows)):
    for j in range(len(columns)):
        if columns[j]["student_group"] == student_group and target_matrix[i][j]==1:
            lectures.append((i, j))

In [37]:
lectures

[(60, 12),
 (61, 14),
 (62, 12),
 (63, 11),
 (65, 12),
 (67, 12),
 (68, 14),
 (70, 13),
 (71, 14),
 (72, 11),
 (73, 14),
 (74, 13),
 (75, 11),
 (76, 15),
 (77, 15),
 (78, 11),
 (79, 15),
 (80, 12),
 (81, 11),
 (83, 14),
 (84, 13),
 (85, 15),
 (86, 13),
 (87, 13),
 (88, 15)]

In [38]:
slots = {}
for day in range(no_of_days):
    for hour in range(no_of_hours):
        flag = False
        for lecture in lectures:
            if rows[lecture[0]]['day'] == day and rows[lecture[0]]['hour'] == hour:
                flag = True
#                 if hour in slots:
                print(columns[lecture[1]], day, hour)
#                     slots[hour].append(str(columns[le]))
                if hour in slots:
                    slots[hour].append(columns[lecture[1]])
                else:
                    slots[hour] = [columns[lecture[1]]]
        if flag == False:
            if hour in slots:
                    slots[hour].append("Free")
            else:
                slots[hour] = ["Free"]

{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'} 0 0
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'} 0 1
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'} 0 2
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'} 0 3
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'} 0 5
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'} 1 1
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'} 1 2
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'} 1 4
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'} 1 5
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'} 2 0
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'} 2 1
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'} 2 2
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'} 2 3
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'} 2 4
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'} 2 5
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'} 3 0
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'} 3 1
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'} 3 2
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'} 3 3
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'} 3 5
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'} 4 0
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'} 4 1
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'} 4 2
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'} 4 3
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'} 4 4

In [39]:
slots

{0: [{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'},
  'Free',
  {'lecturer': 8, 'student_group': 2, 'course': 'CSL701'},
  {'lecturer': 8, 'student_group': 2, 'course': 'CSL701'},
  {'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}],
 1: [{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'},
  {'lecturer': 7, 'student_group': 2, 'course': 'CSL702'},
  {'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'},
  {'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'},
  {'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}],
 2: [{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'},
  {'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'},
  {'lecturer': 9, 'student_group': 2, 'course': 'CSL703'},
  {'lecturer': 7, 'student_group': 2, 'course': 'CSL702'},
  {'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}],
 3: [{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'},
  'Free',
  {'lecturer': 8, 'student_group': 2, 'course': 'CSL701'},
  {'lecturer': 8, 'student_group': 2, 'course': 'CSL701'},
  {'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}],
 4: ['Free',
  {'lecturer': 9, 'student_group': 2, 'course': 'CSL703'},
  {'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'},
  'Free',
  {'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}],
 5: [{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'},
  {'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'},
  {'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'},
  {'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'},
  'Free']}

In [40]:
for slot in slots:
    list_of_slot = slots[slot]
#     print(list_of_slot)
    temp_list = []
    for i in range(len(list_of_slot)):
        print(list_of_slot[i])
        if list_of_slot[i] is "Free":
            temp_list.append("Free")
        else:
            temp_lecturer = list_of_slot[i]["lecturer"]
            temp_course = list_of_slot[i]["course"]
            string = ""
            for lecturer in lecturer_list:
                if lecturer.id == temp_lecturer:
                    string+=lecturer.name + " "

            for course in course_list:
                if course.id == temp_course:
                    string+=course.name + " "
            print(string)
            temp_list.append(string)
    slots[slot] = temp_list

{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'}
Amiya Kumar Tripathy MCC
Free
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'}
Dipti Jadhav DSIP
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'}
Dipti Jadhav DSIP
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}
Kalpita Wagaskar AISC
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'}
Others Dept Level Elective
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'}
Amiya Kumar Tripathy MCC
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'}
Others Dept Level Elective
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}
Others Inst Level Elective
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}
Others Inst Level Elective
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'}
Amiya Kumar Tripathy MCC
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'}
Others Dept Level Elective
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}
Kalpita Wagaskar AISC
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'}
Amiya Kumar Tripathy MCC
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}
Kalpita Wagaskar AISC
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'}
Dipti Jadhav DSIP
Free
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'}
Dipti Jadhav DSIP
{'lecturer': 8, 'student_group': 2, 'course': 'CSL701'}
Dipti Jadhav DSIP
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}
Kalpita Wagaskar AISC
Free
{'lecturer': 9, 'student_group': 2, 'course': 'CSL703'}
Kalpita Wagaskar AISC
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}
Others Inst Level Elective
Free
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}
Others Inst Level Elective
{'lecturer': 7, 'student_group': 2, 'course': 'CSL702'}
Amiya Kumar Tripathy MCC
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'}
Others Dept Level Elective
{'lecturer': 10, 'student_group': 2, 'course': 'ILO70XX'}
Others Inst Level Elective
{'lecturer': 10, 'student_group': 2, 'course': 'CSDL70X'}
Others Dept Level Elective
Free

In [43]:
slots

{0: ['Amiya Kumar Tripathy MCC ',
  'Free',
  'Dipti Jadhav DSIP ',
  'Dipti Jadhav DSIP ',
  'Kalpita Wagaskar AISC '],
 1: ['Others Dept Level Elective ',
  'Amiya Kumar Tripathy MCC ',
  'Others Dept Level Elective ',
  'Others Inst Level Elective ',
  'Others Inst Level Elective '],
 2: ['Amiya Kumar Tripathy MCC ',
  'Others Dept Level Elective ',
  'Kalpita Wagaskar AISC ',
  'Amiya Kumar Tripathy MCC ',
  'Kalpita Wagaskar AISC '],
 3: ['Dipti Jadhav DSIP ',
  'Free',
  'Dipti Jadhav DSIP ',
  'Dipti Jadhav DSIP ',
  'Kalpita Wagaskar AISC '],
 4: ['Free',
  'Kalpita Wagaskar AISC ',
  'Others Inst Level Elective ',
  'Free',
  'Others Inst Level Elective '],
 5: ['Amiya Kumar Tripathy MCC ',
  'Others Dept Level Elective ',
  'Others Inst Level Elective ',
  'Others Dept Level Elective ',
  'Free'],
 'weekdays': ['Mon', 'Tue', 'Wed', 'Thur', 'Fri']}

In [42]:
slots["weekdays"] = weekdays

In [41]:
slots

{0: ['Amiya Kumar Tripathy MCC ',
  'Free',
  'Dipti Jadhav DSIP ',
  'Dipti Jadhav DSIP ',
  'Kalpita Wagaskar AISC '],
 1: ['Others Dept Level Elective ',
  'Amiya Kumar Tripathy MCC ',
  'Others Dept Level Elective ',
  'Others Inst Level Elective ',
  'Others Inst Level Elective '],
 2: ['Amiya Kumar Tripathy MCC ',
  'Others Dept Level Elective ',
  'Kalpita Wagaskar AISC ',
  'Amiya Kumar Tripathy MCC ',
  'Kalpita Wagaskar AISC '],
 3: ['Dipti Jadhav DSIP ',
  'Free',
  'Dipti Jadhav DSIP ',
  'Dipti Jadhav DSIP ',
  'Kalpita Wagaskar AISC '],
 4: ['Free',
  'Kalpita Wagaskar AISC ',
  'Others Inst Level Elective ',
  'Free',
  'Others Inst Level Elective '],
 5: ['Amiya Kumar Tripathy MCC ',
  'Others Dept Level Elective ',
  'Others Inst Level Elective ',
  'Others Dept Level Elective ',
  'Free']}

In [44]:
import pandas as pd
df = pd.DataFrame(slots)

In [45]:
df.set_index('weekdays')

,0,1,2,3,4,5
weekdays,,,,,,
Mon,Amiya Kumar Tripathy MCC,Others Dept Level Elective,Amiya Kumar Tripathy MCC,Dipti Jadhav DSIP,Free,Amiya Kumar Tripathy MCC
Tue,Free,Amiya Kumar Tripathy MCC,Others Dept Level Elective,Free,Kalpita Wagaskar AISC,Others Dept Level Elective
Wed,Dipti Jadhav DSIP,Others Dept Level Elective,Kalpita Wagaskar AISC,Dipti Jadhav DSIP,Others Inst Level Elective,Others Inst Level Elective
Thur,Dipti Jadhav DSIP,Others Inst Level Elective,Amiya Kumar Tripathy MCC,Dipti Jadhav DSIP,Free,Others Dept Level Elective
Fri,Kalpita Wagaskar AISC,Others Inst Level Elective,Kalpita Wagaskar AISC,Kalpita Wagaskar AISC,Others Inst Level Elective,Free

In [46]:
df.to_csv(r'C:\Prayuj Folders\BE_PROJECT\BEComps.csv')